* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header{
  width: 100%;
  height: 100vh;
  background:linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.2)), url('Travel-bg.jpg');
  background-size: cover;
  font-family: sans-serif
}

nav{
  width: 100%;
  height: 100px;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logo{
  font-size: 2em;
  letter-spacing: 2px;
  cursor: default;
}

.menu a{
  text-decoration: none;
  color: white;
  padding: 10px 20px;
  font-size: 20px;
  position: relative;
}

.menu a::before{
  content: '';
  position: absolute;
  margin-top: 0;
  margin-left: 0;
  width: 0;
  height: 100%;
  border-bottom: 2px solid rgb(213, 178, 38);
  transition: 0.4s linear;
}

.menu a:hover::before{
  width: 90%;
}

.profile a{
  text-decoration: none;
  color: white;
  padding: 10px 20px;
  font-size: 20px;
  background: rgb(215, 206, 20);
  border-radius: 8px;
  transition: 0.4s;
}

.profile a:hover{
  background: transparent;
  border: 1px solid rgb(215, 206, 20);
}

.sec-txt{
  max-width: 650px;
  position: absolute;
  margin-top: 16%;
  margin-left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
}

.sec-txt span{
  letter-spacing: 5px;
  cursor: default;
}

.sec-txt h2{
  font-size: 2em;
  cursor: default;
}

.sec-txt a{
  text-decoration: none;
  background: indianred;
  color: white;
  font-size: 0.7em;
  border-radius: 5px;
  padding: 8px 15px;
  font-weight: lighter;
  letter-spacing: 2px;
  transition: 0.4s;
}

.sec-txt a:hover{
  background: transparent;
  border: 1px solid indianred;
}

.User{
  max-width: 650px;
  position: absolute;
  margin-top: 30%;
  margin-left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
}

.User div a{
  text-decoration: none;
  background: indianred;
  color: white;
  font-size: 0.7em;
  border-radius: 5px;
  padding: 8px 15px;
  font-weight: bold;
  transition: 0.4s;
}

.User div a:hover{
  background: transparent;
  border: 1px solid indianred;
}

.User p{
  cursor: default;
}

.User p a{
  text-decoration: none;
  color: rgb(218, 203, 32);
}